/*color variables*/
:root {
  --blue: #0a192f;
  --aqua: #5ae6c8;
  --white: #ccd6f6;
  --gray: #a8bbeb;
  --dark: #01060f;
}

/*reset default css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*global css*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  background-image: linear-gradient(#0a192f, #01060f);
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

ul {
  list-style-type: none;
}

/*navigation bar css*/
.navbar {
  background-color: var(--blue);
  color: var(--aqua);
  height: 100px;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.navbar img {
  height: 60px;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 40px;
}

.navbar a:hover {
  color: var(--aqua);
}

/*hero section css*/
.header {
  padding-top: 9rem;
  min-height: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box1 {
  flex: 2;
}

.box2 {
  flex: 1;
  padding-left: 100px;
}

.box1 h1 {
  color: var(--aqua);
  font-size: 16px;
}

.box1 h2 {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.box1 h3 {
  color: var(--gray);
  font-weight: bold;
}

.box1 p {
  padding-top: 1rem;
}

.box2 img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

/*about/skills/projects/experience/contact h1 css*/
#about h1,
#skills h1,
#projects h1,
#experience h1,
#form h1 {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 8rem;
  padding-bottom: 1rem;
}

/*skills/projects p css*/
#skills p,
#projects p {
  padding-bottom: 2rem;
}

/*skills section css*/
#skills li {
  width: 150px;
  height: 50px;
  float: left;
  color: var(--white);
  border: 2px solid #5ae6c8;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  margin: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.container {
  content: "";
  clear: both;
  display: block;
}

.projects-flex-container {
  display: flex;
  padding-bottom: 20px;
}

.articles {
  padding-left: 140px;
}

#projects li {
  width: 300px;
  height: 50px;
  float: left;
  border: 2px solid #ccd6f6;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0;
  margin: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

#projects p {
  color: var(--white);
}

#projects a {
  color: var(--gray);
  text-decoration: none;
}

#projects a:hover {
  color: var(--aqua);
}

#projects li:hover {
  border: 2px solid #5ae6c8;
}

/*experience css*/
.title {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.position {
  display: flex;
}

.tenure {
  padding-top: 5px;
  text-align: right;
}

.position h2 {
  color: var(--white);
  padding-right: 0px;
  margin: 0px;
  max-width: max-content;
}

.position h3 {
  color: var(--aqua);
  align-items: right;
  padding-top: 3px;
  padding-left: 10px;
  flex: 1;
}

#experience ul {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 40px;
}

#experience li {
  color: var(--gray);
  padding-left: 20px;
  line-height: 2;
}

#experience li::marker {
  color: var(--aqua);
  content: "»";
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

/*contact section*/

#form {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

#form h1,
#form h2 {
  text-align: center;
}

#form h1 {
  padding-top: 100px;
}

#form h2 {
  color: var(--gray);
  padding-bottom: 20px;
  padding-right: 80px;
  padding-left: 80px;
}

#form label {
  color: #ccd6f6;
}

input[type="text"],
input[type="email"],
select {
  margin: auto;
  width: 50%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 2px solid #0a192f;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: var(--white);
  color: black;
  font-size: 18px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

textarea {
  margin: auto;
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #0a192f;
  border-radius: 15px;
  resize: none;
  background-color: var(--white);
  color: black;
  font-size: 18px;
  margin-top: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

button[type="submit"] {
  background-color: var(--dark);
  border: 2px solid #5ae6c8;
  color: var(--white);
  font-size: 18px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

button[type="submit"]:hover {
  background-color: var(--aqua);
  color: var(--blue);
  transition: 0.7s;
  border: 2px solid #5ae6c8;
}

/* messages section */
#messageCSS {
  max-width: 100%;
  background-color: var(--dark);
}

#messages {
  padding-bottom: 2rem;
}

#messages ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#messages li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  font-size: 16px;
  border-bottom: 2px solid #8892b0;
}

#messages a {
  color: var(--aqua);
  text-decoration: none;
  padding-right: 5px;
}

#messages {
  color: var(--white);
}

#messages button {
  background-color: var(--aqua);
  border: 2px solid #5ae6c8;
  border-radius: 30px;
  color: var(--white);
  font-size: 16px;
  padding: 6px 32px;
  text-decoration: none;
  margin: 20px 20px;
  height: 40px;
  cursor: pointer;
}

#messages button:hover {
  background-color: var(--aqua);
  border: 2px solid #5ae6c8;
  color: #0a192f;
  transition: 0.7s;
}

/*footer section*/
.footer {
  padding-top: 1rem;
  background-color: var(--dark);
}

.footer .container {
  color: var(--white);
  text-align: center;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.footer ul li {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
}

.footer a {
  color: var(--aqua);
  text-decoration: none;
}

.footer a:hover {
  color: var(--aqua);
  font-weight: bold;
}

.footer p {
  text-align: center;
  padding-top: 2rem;
}

/*responsiveness*/
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--blue);
    width: 100%;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .title {
    flex-direction: column;
    font-size: 16px;
  }

  .tenure {
    padding-left: 0;
    text-align: left;
    font-size: 16px;
  }

  #form h2 {
    font-size: 20px;
  }
}

@media (max-width: 425px) {
  .header .container {
    flex-direction: column;
  }

  .header {
    padding-top: 2rem;
  }

  .box2 {
    padding-top: 4rem;
    padding-left: 0;
  }

  .box2 img {
    width: 200px;
    height: auto;
  }

  #about h1,
  #skills h1,
  #projects h1,
  #experience h1,
  #form h1 {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  #skills ul {
    padding-left: 50px;
  }

  #projects ul {
    flex-direction: column;
  }

  #projects li {
    padding-bottom: 20px;
  }

  .title {
    font-size: 10px;
  }

  .tenure {
    padding-top: 10px;
    padding-left: 0;
    text-align: left;
    font-size: 14px;
  }

  #experience ul {
    padding-left: 20px;
  }

  #form h2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 80%;
  }

  textarea {
    width: 80%;
  }

  .nav-menu {
    text-align: right;
    padding-right: 20px;
  }
}

/*scrollbar css*/
.scrollbar {
  overflow: overlay;
}

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 4px;
  height: 16px;
  z-index: 999999;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--white);
}
